[ATSC] Security Related Issues



1.HTTPS is referenced as being specified in RFC 2818 (PAGE 107 line 24/25) which references TLS 1.0 (which is known to have several vulnerabilities).  However, the current reference for the https URI scheme is RFC 7230 which references TLS 1.2 (RFC 5246).
2. No TLS profile is included which suggests that any cipher suite available in TLS 1.2 could be used, including those not delivering encrypted data and which only authenticate the server identity. However there seems to be an assumption that data is encrypted when HTTPS is used. DASH/IF should specify the set of TLS cipher suites that are acceptable to achieve the standard of data encryption and authentication that it expects.
3. There is a statement that HTTPS in DASH provides authenticity for data exchanged between DASH servers and clients(Page 108 line 14).  However, most TLS 1.2 cipher suites only offer data encryption and not data authentication.  If data authentication is required then an AEAD based cipher suite needs to be chosen, such as those required by TLS 1.3 which are also available in TLS 1.2.
4. There is a statement (Page 107 line 34) that CORS does not allow that, if an origin web page is delivered using HTTPS, it can reference resources to be delivered using HTTP.  The only reference to HTTPS in the CORS specification is in section 7.3 Security which is a non-normative section.  This reference should be changed to the Mixed Content specification (https://www.w3.org/TR/mixed-content/) which defines the rules for checking that content is not delivered from an insecure source once a secure context has been established.



Thomas will forward to Security group in DASH-IF. After first review we believe this is worthwhile to be addressed and clarified.

Will be updated in next version of main IOP. ATSC would then reference back